NEXT_PUBLIC_API_URL=http://localhost:5002
NEXT_PUBLIC_VELAKRON_ENABLE_DEV_REGISTRATION=false
NEXT_PUBLIC_SALES_DEMO_URL=https://velakron.com/sales-demo
NEXT_PUBLIC_IMTS_DEMO_URL=https://velakron.com/imts-demo
NEXT_PUBLIC_VELAKRON_INSPECTION_ENABLED=true
